:root {
    --light-blue: #E0F7FA;
    --dark-gray: #2C3E50;
    --teal: #50C9C3;
    --purple: #8E44AD;
    --instagram-color: #C13584;
    --facebook-color: #3B5998;
    --amazon-color: #FF9900;
    --footer-bg: #8E44AD;
    --box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #E0F7FA, #50C9C3);
    color: var(--dark-gray);
    overflow-x: hidden;
}

header {
    background-image: url('Background_Image.png');
    background-size: cover;
    background-position: center;
    padding: 1% 0;
    text-align: center;
    color: #fff;
    margin: 0;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header-separator {
    height: 5px;
    background-color: var(--purple);
    width: 100%;
    position: absolute;
    bottom: 0;
}

.logo {
    max-width: 150px;
    height: auto;
    margin-bottom: 0;
}

main {
    margin: 0;
    padding: 0;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: none;
    border-radius: 20px;
    margin: 0 auto;
    width: 90%;
    gap: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.social-media-section, .about-us, .map, .contact-section {
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    box-shadow: var(--box-shadow);
    text-align: center;
    transition: transform 0.3s;
    color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.about-us p {
    text-align: justify;
    text-justify: inter-word;
    padding: 0 20px;
}

.card {
    width: 90%;
    margin-bottom: 20px;
    border-radius: 15px;
    padding: 20px;
    text-decoration: none;
}

.card:hover {
    transform: scale(1.05);
    z-index: 10;
}

.card h3, .about-us h2, .contact-section h2 {
    margin-bottom: 15px;
    font-size: 1.2em;
}

.card p, .about-us p, .contact-section p {
    margin-bottom: 10px;
    font-size: 0.9em;
}

.card i {
    font-size: 2em;
    color: inherit;
}

.card.instagram {
    background-color: var(--instagram-color);
    color: white;
}

.card.facebook {
    background-color: var(--facebook-color);
    color: white;
}

.card.amazon {
    background-color: var(--amazon-color);
    color: white;
}

.contact-form {
    width: 80%; /* Reduced width of input boxes */
    margin: 0 auto;
}

.contact-form label {
    display: block;
    margin: 10px 0 5px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--dark-gray);
    border-radius: 5px;
}

.contact-form button {
    padding: 10px 20px;
    background-color: var(--purple);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: var(--dark-gray);
}

.map iframe {
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 10px;
}

footer {
    background-color: var(--footer-bg);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 20;
}

footer p {
    margin: 0;
    font-size: 1em;
    width: 100%;
}

@media (min-width: 768px) {
    .row {
        flex-direction: row;
    }

    .column {
        width: 48%;
    }
}

@media (max-width: 767px) {
    .main-content {
        transform: scale(0.8);
        margin: 0;
    }

    .row {
        flex-direction: column;
    }

    .column {
        width: 100%;
    }

    .card {
        margin-bottom: 20px;
    }

    .about-us {
        padding-top: 0;
    }

    footer {
        width: 100%;
    }
}
